<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/convert.js"></script>
    <script src="js/diff_match_patch.js"></script>

    <script>
        if (!String.prototype.trim) {
            String.prototype.trim = function () {
                return this.replace(/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g, '');
            };
        }

        var verses = [];

        if (storageAvailable('localStorage') && localStorage.getItem("verses")) {
            verses = JSON.parse(localStorage.getItem("verses"));
        }

        $(function () {
            var dmp = new diff_match_patch();

            var app = new Vue({
                el: '#container',
                data: { data: { verses: verses, selected: { chapter: '', content: '' } }, launched: false, result: "" },
                created: function () {
                    this.random();
                },
                methods: {
                    random: function () {
                        if(verses.length > 0){
                            this.select(verses[Math.floor(Math.random() * verses.length)]);
                        }
                    },
                    select: function(verse) {
                        this.data.selected = verse;
                        this.clear();
                    },
                    remove: function(verse, index) {
                        if(confirm(verse.chapter + '를 삭제하시겠습니까?')){
                            verses.splice(index, 1);
                            this.save();
                        }
                    },
                    launch: function () {
                        var text1 = document.getElementById('textarea').value;
                        var text2 = this.data.selected.content;

                        console.log(text1);
                        console.log(text2);

                        var d = dmp.diff_main(text1, text2);
                        dmp.diff_cleanupSemantic(d);

                        this.result = dmp.diff_prettyHtml(d);
                        this.launched = true;
                    },
                    addData: function () {
                        var newBible = document.getElementById('new-bible').value;

                        jQuery.ajax({
                            url: 'https://getbible.net/json?translation=korean&p=' + getEngName(newBible),
                            dataType: 'jsonp',
                            jsonp: 'getbible',
                            success: function (json) {
                                var message = '';
                                if (json.book !== undefined) {
                                    Object.keys(json.book).forEach(function (key) {
                                        var chapter = json.book[key].chapter;
                                        Object.keys(chapter).forEach(function (key) {
                                            message += chapter[key].verse.trim() + " "
                                        })
                                    })
                                } else if (json.chapter !== undefined) {
                                    Object.keys(json.chapter).forEach(function (key) {
                                        message += json.chapter[key].verse.trim() + " "
                                    })
                                }

                                verses.push({
                                    chapter: newBible,
                                    content: message
                                })

                                app.save();
                            }
                        })          
                    },
                    clear: function() {
                        document.getElementById('textarea').value = null;
                        this.launched = false;
                    },
                    save: function() {
                        if (storageAvailable('localStorage')) {
                            localStorage.setItem("verses", JSON.stringify(verses));
                        }
                    },
                    reset: function() {
                        if (storageAvailable('localStorage')) {
                            localStorage.clear();
                            location.reload();
                        }
                    }
                }
            })
        })

        function storageAvailable(type) {
            try {
                var storage = window[type],
                    x = '__storage_test__';
                storage.setItem(x, x);
                storage.removeItem(x);
                return true;
            } catch (e) {
                return e instanceof DOMException && (e.code === 22 || e.code === 1014 || e.name === 'QuotaExceededError' || e.name === 'NS_ERROR_DOM_QUOTA_REACHED') && storage.length !== 0;
            }
        }
    </script>
</head>

<body>
    <div class="container" id="container">
        <div class="mt-4">
            <div class="form-row align-items-center">
                <div class="col-sm-3 my-1">
                    <label class="sr-only" for="new-bible">구절</label>
                    <input type="text" class="form-control" id="new-bible" placeholder="구절을 입력">
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary" @click="addData">추가</button>
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-danger" @click="reset">초기화</button>
                </div>    
            </div>
        </div>

        <div class="mt-4">
            <span class="badge badge-pill badge-primary m-2" @click=random>랜덤</span>
            <span class="badge badge-pill badge-secondary m-2" v-for="(verse, index) in data.verses" v-text="verse.chapter" @click=select(verse) v-on:dblclick="remove(verse, index)"></span>
        </div>

        <div class="mt-4">
            <p class="mb-0"><strong v-text="data.selected.chapter"></strong></p>
            <div class="form-group">
                <label for="textarea"></label>
                <textarea class="form-control" id="textarea" rows="3"></textarea>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-primary" @click="launch">확인</button>
            </div>
            <div v-if="this.launched" class="mt-4">
                <div v-html="result" class="mb-2"></div>
            </div>
        </div>
    </div>
</body>

</html>